label {
  display: block;

}

label.selection {
  display: inline-block;
  margin-left: 3px;
}

input[type=text], 
input[type=password], 
textarea {
  display: block;
  margin-bottom: 12px;
}

input[type=submit], 
input[type=reset] 
{
  display: inline-block;
}


input[type=radio],
input[type=checkbox] {
  display: inline-block;
  margin-bottom: 12px;
}


