body {
  background-color: #dddddd;
}

div.card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

div.card {
  position: relative;
  width: 14em;
  margin-right: 1.5%;
  margin-bottom: 1.5%;
  box-shadow: 1px 1px 3px black;
  
}

div.num {
  position: relative;
  border-radius: 2% 2% 0% 0%;
  font-family: sans-serif;
  font-size: 8em;
  text-align: center;
  padding-top: 16%;
  padding-bottom: 16%;
  z-index: 1;
}

div.descr {
  position: relative;
  border-radius: 0% 0% 2% 2%;
  font-family: sans-serif;
  font-size: 1.3em;
  text-align: left;
  background-color: white;
  padding: 1em 1em 1em 1em;
  z-index: 1;
}

div.refresh {
  color: white;
  font-size: 2em;
  text-align: center;
  line-height: 1.5em;
  background-color: rgb(77, 136, 238);
  position: absolute;
  bottom: 15%;
  left: 70%;
  height: 1.5em;
  width: 1.5em;
  z-index: 2;
  border-radius: 1em;
}

.green {
  background-color: rgb(38, 159, 93);
  color: white;
}

.cyan {
  background-color: rgb(101, 194, 220);
}

.orange {
  background-color: rgb(238, 188, 64);
  color: white;
}